

.dark-mode, .dark-mode  * {
  background-color: black;
  color: rgb(5, 255, 5);
}



.dark-mode .text-area, .dark-mode #mensaje {
    border: 1px solid yellow;
    box-shadow: 2px 2px 15px yellow;
}


.dark-mode button, .dark-mode #dark-mode, .dark-mode .img-github  {
    border: 1px solid red;
    box-shadow: 2px 2px 15px red;
    background: yellow;
    font-weight: 1000;
    color: rgb(255, 2, 2);
}



.dark-mode .btn-encriptar:active, .dark-mode .btn-desencriptar:active,
.dark-mode .btn-copiar:active {
    color: yellow;
    background: rgb(255, 2, 2);

}



.dark-mode .btn-encriptar:hover, .dark-mode .btn-desencriptar:hover,
.dark-mode .btn-copiar:hover, .dark-mode .img-github:hover, .dark-mode #dark-mode:hover {
    border: 1px solid yellow;
    box-shadow: 2px 2px 15px yellow;
    transition: .2s;
}


.dark-mode ::placeholder {
    color: rgba(5, 255, 5);
    opacity: .5;
}





